.add-new-article-form {
    margin-top: 50px;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    gap: 20px;
}

.add-new-article-form input,
textarea {
    font-size: 1.2rem;
    border: none;
    border-bottom: 1px solid gray;
    padding: .2rem .5rem;
    outline: none;
}

.submit-button {
    margin-top: 50px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: darkgrey;
}