
.searched-articles-container{
    display: grid;
    gap:40px;
    padding:40px 20px;

}
.search-title{
    color:#f79918;
}


.searched-articles-list-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,300px);
    /* border: solid 1px black; */
    padding:20px 100px;
    gap:30px;
    place-content: center;
}