.App {
    text-align: center;
}


/* 
.css-ktslay-MuiButtonBase-root-MuiIconButton-root {
    background-color: #787A91;
} */

.css-hn784z button,
.css-1abc02a button {
    background-color: black !important;
    opacity: 1 !important;
}

.update-article-page,
.create-article-page {
    padding-top: 50px;
}


/* .setHeight>div {
    height: 223px;
} */