.add-new-article-form {
    padding: 50px 0;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    gap: 50px;
    justify-content: center;
}

label p {
    text-align: left;
    padding: .2rem .5rem;
    font-size: 1.5rem;
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    border: 1px solid #222;
    border-radius: 10px;
    background-color: aliceblue;
}

.add-new-article-form input,
textarea {
    font-size: 1.2rem;
    padding: .5rem 1.2rem;
    outline: none;
}

input.submit-button {
    cursor: pointer;
    margin: auto;
    border: 1px solid #f79918;
    background-color: #f79918;
    color: white;
    border-radius: 10px;
    padding: 7px 30px;
}

.articleImg {
    width: 400px;
}

.submit-button:hover {
    background-color: #db8000;
}

.checkboxes {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    gap: 20px;
}

.checkboxes input {
    margin-left: 5px;
}

.rdw-editor-wrapper {
    height: 300px;
    border: 1px solid gray;
}

.rdw-editor-main {
    padding: .2rem .5rem;
    height: calc(100% - 50px);
}